@import "base/variables";

@import "components/ProjectListItem";
@import "components/AddProject";
@import "components/ProjectView";
@import "components/ProjectTodoItem";
@import "components/ProjectTodos";
@import "components/AddProjectTodo";

body {
    background-color: $background-bright;
    font-family: 'Montserrat', sans-serif;
}

.h2-project-list {
    text-align: center;
    margin-bottom: 30px;
}

.hr-title {
    border-color: $h2-separator-gray;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.title-with-divider-container {
    position: relative;
    .span-title-with-divider {
        background-color: $background-bright;
        padding: 0 20px;
    }
}