.col-add-project {
    float: none;
    margin: 0 auto 20px;
}

.card-add-project {
    i {
        font-size: 3rem;
    }
}

.addproject-buttons-container {
    text-align: left;
    button {
        margin: 5px;
    }
}

.showaddproject-container {
    * {
        cursor: pointer;
    }
    margin-top: 13%;
}

.show-add-project-animation-appear, .form-add-project-animation-appear {
    opacity: 0.01;
}

.show-add-project-animation-appear.show-add-project-animation-appear-active, .form-add-project-animation-appear.form-add-project-animation-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}