#projectTodoDescription {
    display: inline;
}

.form-inline {
    .form-group {
        width: 100%;
        margin-bottom: 30px;
    }
}

#projectTodoDescription {
    width: 65%;
    margin-right: 5%;
}

button {
    width: 30%;
}