.row-project-todos {
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }    

    .col-todos {
        background-color: #fff;
        padding: 25px;
        border-radius: 10px;
    }    
}