.project-todo-item {
    &:nth-child(1) {
        border-top: 1px solid $light-gray;
    }
    font-size: 1.5rem;    
    border-bottom: 1px solid $light-gray;
    padding: 5px 0 5px 5px;
    input[type="checkbox"] {
        margin-top: -6px;
    }    

    .div-todo-description {
        cursor: pointer;
    }

    .span-todo-due-date {
        color: $medium-gray;
    }

    .div-expanded-todo {
        margin-top: 15px;
    }
    .div-set-due-date-form {
        button {
            margin-left: 15px;
        } 
    }

    .div-todo-checkbox, .div-todo-description {
        display: inline;
    }

    .div-todo-description-completed {
        text-decoration: line-through;
    }
}